/* Theme Switch Css */
.theme-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.theme-switcher input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: var(--medium-gray);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.theme-switcher input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.theme-switcher input[type="checkbox"]:checked {
  background-color: var(--orange);
}

.theme-switcher input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}
