/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Header */
.navbar-nav{
  gap:35px;
  margin-left: 40px;
}

#sign-button{
  font-size: 20px;
}

#login-btn{
 color: white;
 width: 130px;
}

#header-buttons{
  margin-top: 1px;
}

/* Hero Section */

#home{
  margin: 40px;
}

.hero-section {
  position: relative;
  padding: 50px 0;
  /* background-color: #f8f9fa; */
}

.text-col {
  text-align: left;
}

#tagline {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 40vw;
}

#hero-p{
  margin-top:1.4vw;
  font-size: 1rem;
  max-width: 30vw;
  margin-bottom:1.4vw;
}

.highlight {
  color: #f4a261;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #e68900;
}

/* Right Side Image */
.image-container {
  position: relative;
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 400px;
  z-index: 2;
  position: relative;
}

.background-shape {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #fde0c5;
  border-radius: 50%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1;
}
.main-image {
  width: 100%;
  max-width: 100%;
  right:50px;
  z-index: 2;
  position: relative;
  mix-blend-mode: multiply; /* Makes white areas blend with background */
}
.milestones {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}

.milestone {
  text-align: center;
}

.milestone h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #f4a261;
}

.milestone p {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}
