* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray-black: #1A1A1A;
  --medium-gray: #666666;
  --orange: #FF6200;
  --white: #FFFFFF;
  --dark-gray: #333333;
  --light-orange: #FFDAB9;
}

[data-theme="dark"] {
  --dark-gray-black: #E0E0E0;
  --medium-gray: #A0A0A0;
  --orange: #FF6200;
  --white: #000000;
  --dark-gray: #B0B0B0;
  --light-orange: #D4A276;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--white); /* Use custom property for background */
}

/* Override Bootstrap's default body background */
body {
  background-color: var(--white) !important;
}

